<ul id="menu">
    <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/">Best Practices Guide - Overview</a></li>
    <li>
        <a href="#">Deployment Strategies<i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/deployment-strategies/hub-and-spoke/">Hub & Spoke</a></li>
          <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/deployment-strategies/regional/">Regional</a></li>
          </li>
        </ul>
    </li>
    <li>
         <a href="#">Scaling Rancher<i class="pull-right fa fa-angle-down"></i></a>
         <ul>
           <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/scaling/">Scaling Rancher</a></li>
           <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/scaling/high-availability/">High Availability</a></li>
           <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/scaling/non-critical/">Non-Critical</a></li>
           <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/scaling/proof-of-concept/">Proof of Concept</a></li>
        </ul>
     </li>
    <li>
         <a href="#">Kubernetes<i class="pull-right fa fa-angle-down"></i></a>

         <ul>
         <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/kubernetes/">Setup & Management</a></li>
           <li>
                <a href="#">Deployment Types<i class="pull-right fa fa-angle-down"></i></a>
                <ul>
                  <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/kubernetes/deployment-types/standalone/">Standalone</a></li>
                  <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/kubernetes/deployment-types/overlapping/">Overlapping Planes</a></li>
                  <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/kubernetes/deployment-types/separated/">Separated Reslient Planes</a></li>
                </ul>
          </li>
         <li>
           <li>
                <a href="#">Kubernetes Management<i class="pull-right fa fa-angle-down"></i></a>
                <ul>
                  <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/kubernetes/management/remote-backups/">Remote Backups</a></li>
                  <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/kubernetes/management/migrations/">Deployment Migrations</a></li>
                  <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/kubernetes/management/failure-recovery/">Failure Recovery</a></li>
                  <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/kubernetes/management/disaster-recovery/">Disaster Recovery</a></li>
                  <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/kubernetes/management/restoring-backups/">Restoring Backups</a></li>
                  <li><a href="{{site.baseurl}}/best-practice-guide/{{page.version}}/{{page.lang}}/kubernetes/management/tearing-down/">Tearing Down</a></li>
                </ul>
          </li>
        </ul>
    </li>
</ul>
