<ul id="menu">
    <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/">Best Practices Guide - Overview</a></li>
    <li>
        <a href="#">Installation<i class="pull-right fa fa-angle-down"></i></a>
        <ul>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/installation/ha/">HA Installation</a></li>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/installation/deployment-strategies/">Deployment Strategies</a></li>
          <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/installation/rancheronk8s/">Rancher on Kubernetes</a></li>
          </li>
        </ul>
    </li>
    <li>
         <a href="#">Operations<i class="pull-right fa fa-angle-down"></i></a>
         <ul>
           <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/operation/management/">Rancher Management</a></li>
           <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/operation/k8scluster/">Kubernetes Clusters</a></li>
           <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/operation/rbac//">RBAC</a></li>
           <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/operation/security/">Security</a></li>
           <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/operation/support/">Support</a></li>
           <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/operation/alertingandlogging/">Alerting & Logging</a></li>
           <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/operation/storage/">Storage</a></li>
           <li><a href="{{site.baseurl}}/rancher/{{page.version}}/{{page.lang}}/operation/ingress/">Ingress Patterns</a></li>
        </ul>
     </li>
</ul>
