      </div>

      <div class="col span-8">
        <div class="content-container">
          {{ content }}

          <footer class="clearfix">
            <div class="copyright pull-left">Copyright &copy; 2014-2017 <a href="http://rancher.com">Rancher Labs</a>.  All Rights Reserved.</div>
            <a class="btn btn-primary pull-right" href="https://github.com/rancher/best-practice-guide/tree/master/{{page.path }}">Edit this page <i class="fa fa-pencil"></i></a>
          </footer>
        </div>
      </div>
    </div>

    <script src="{{site.baseurl}}/vendor/jquery.js?t={{site.time}}"></script>
    <script src="{{site.baseurl}}/js/jquery.slicknav.min.js?t={{site.time}}"></script>
    <script src="{{site.baseurl}}/js/rancher-docs.js?t={{site.time}}"></script>


  </body>
</html>
